* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    // position: relative; 
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

section {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: none;
}



.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hide {
    display: none;
    
}

.hide_o {
    opacity: 0;
    z-index: -1;
    display: flex;
}

.show {
    display: block;
}

.show_o {
    opacity: 1 !important;
    display: flex !important;
    z-index: 999999999999 !important;
    // transition: all .3s ease-out !important;
    overflow-y: hidden;
}

.show_f {
    display: flex !important;
}


//Arrow toggler

.up {
    transform: rotate(180deg);
}


//Header toggler

.transparent {
    background-color: rgba(0,0,0, .9) !important;
    
}



